{
  "plugins": ["prettier-plugin-xml", "prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx"
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
